// Import dependencies
/* stylelint-disable */
@import '../../node_modules/normalize.css/normalize';
/* stylelint-enable */

// Import helpers
@import 'helpers/replace-image';
@import '../base/colors.scss';

// Import global styles (e.g. Bootstrap themes)
// (None)

// Specify "above-app-component" layout styles (e.g. html/body styles)
html {
}

body {
}

.block-wrapper {
  background-color: $lightGreyColor;
  padding: 1.5rem;
  margin: 1.5rem;
  display: inline-block;
}