.line-chart {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.line-chart-wrapper {
  .axis{
    fill:#555;
    opacity: 1;
  }
  
  .axis path,
  .axis line {
    fill: none;
    stroke: none;
    shape-rendering: crispEdges;
  }
  
  .axis text {
    font-size: 14px;
  }
  
  .y-grid .tick{
    stroke: #555;
    opacity: 1;
  }
}

// stacked-chart-wrapper
.stacked-chart-wrapper {
  
  .axis--x {

    .tick {
      stroke-dasharray: 1;
    }
  }
}